/* LISTAS */
/* Extends */
body footer, body .whatsapp-seccion .whatsapp-tel, body .whatsapp-seccion .whatsapp-1, body .cifras-container, body .video-seccion, body .seccion-baja .sect-servicios {
  display: flex;
  align-items: center;
  flex-direction: row;
}

body .whatsapp-seccion, body .cifras-container .cifras-item, body .portada {
  display: flex;
  align-items: center;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 25px;
  font-family: "Darker Grotesque", sans-serif;
}
html ::-webkit-scrollbar {
  display: none;
}

body .header {
  background-color: black;
  height: 5rem;
  display: flex;
  align-items: center;
}
body .header .logo {
  height: 3.5rem;
  margin: auto;
}
body .portada {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/nexos-portada.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  justify-content: center;
}
body .portada-titulo {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  padding: 0 8rem;
  text-align: center;
  text-shadow: black 5px 10px 20px;
}
body .portada-texto {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 8rem;
  text-align: center;
  text-shadow: black 5px 10px 20px;
}
body .destacado-somos {
  background-color: #D82529;
  margin-top: 0;
}
body .destacado-somos .destacado-somos-text {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 5.5rem;
  text-align: center;
}
body .seccion-baja {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/LucesNexos.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80rem;
  position: relative;
  bottom: 1rem;
}
body .seccion-baja .sect-servicios {
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5rem 5.5rem 0 5.5rem;
}
body .seccion-baja .sect-servicios .serv-text {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1;
}
body .seccion-baja .sect-servicios .serv-text-led {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  margin-top: 1rem;
}
body .seccion-baja .sect-servicios .pantallas {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/pantallas-led.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 97%;
  background-color: white;
  height: 10rem;
  width: 10rem;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  border: 5px solid #D82529;
  align-items: center;
}
body .seccion-baja .sect-servicios .sonido {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/sonido.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 97%;
  background-color: white;
  height: 10rem;
  width: 10rem;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  border: 5px solid #D82529;
  align-items: center;
}
body .seccion-baja .sect-servicios .luces {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/luces.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 97%;
  background-color: white;
  height: 10rem;
  width: 10rem;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  border: 5px solid #D82529;
  align-items: center;
}
body .seccion-baja .sect-servicios .sillas {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/sillas.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 97%;
  background-color: white;
  height: 10rem;
  width: 10rem;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  border: 5px solid #D82529;
  align-items: center;
}
body .video-seccion {
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0rem 5.5rem;
}
body .video-seccion .video {
  border: 1px solid #D82529;
}
body .video-seccion .video-texto {
  color: white;
  font-size: 1rem;
  font-weight: 200;
  text-shadow: black 5px 10px 20px;
  margin-left: 1rem;
}
body .video-seccion .video-texto2 {
  color: white;
  font-size: 1rem;
  font-weight: 200;
  text-shadow: black 5px 10px 20px;
  margin-right: 1rem;
}
body .video-seccion .destacado {
  font-weight: 500;
}
body .cifras-container {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/seccion-cifras-nexos.png");
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-evenly;
  padding: 2rem 5.5rem;
}
body .cifras-container .cifras-item {
  width: 20rem;
  height: 17rem;
  color: white;
  text-align: center;
  margin: 0 1.8rem;
}
body .cifras-container .cifras-nro-cont {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2000px;
  border: 2px solid white;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .cifras-container .cifras-nro {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1;
}
body .cifras-container .cifras-texto {
  color: white;
  font-size: 1rem;
  width: 10rem;
  font-weight: 200;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 1rem;
}
body .whatsapp-seccion {
  justify-content: space-evenly;
  background-color: #D82529;
  padding: 2rem 5.5rem;
  position: relative;
  bottom: 1rem;
}
body .whatsapp-seccion .whatsapp-texto {
  width: 70%;
  font-size: 1.4rem;
  font-weight: 500;
  padding-right: 3rem;
  line-height: 1;
  margin-right: 2rem;
}
body .whatsapp-seccion .destacado2 {
  font-weight: 700;
}
body .whatsapp-seccion .enlace {
  text-decoration: none;
}
body .whatsapp-seccion .whatsapp-1 {
  flex-wrap: wrap;
  width: 100%;
}
body .whatsapp-seccion .whatsapp-tel {
  justify-content: space-evenly;
  border: 3px solid black;
  width: 25%;
  height: 3rem;
  align-items: center;
}
body .whatsapp-seccion .whatsapp-tel-text {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
  padding-top: 1rem;
}
body .whatsapp-seccion .whatsapp-no {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: 1rem;
}
body footer {
  justify-content: space-evenly;
  height: 8rem;
  background-color: black;
  position: relative;
  bottom: 1rem;
}
body .footer-img {
  height: 3rem;
}

/* Extends */
body .seccion-baja .sect-servicios, body .video-seccion, body .cifras-container, body .whatsapp-seccion .whatsapp-1, body .whatsapp-seccion .whatsapp-tel, body footer {
  display: flex;
  align-items: center;
  flex-direction: row;
}

body .portada, body .cifras-container .cifras-item, body .whatsapp-seccion {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* LISTAS */
/* Extends */
body .seccion-baja .sect-servicios, body .video-seccion, body .cifras-container, body .whatsapp-seccion .whatsapp-1, body .whatsapp-seccion .whatsapp-tel, body footer {
  display: flex;
  align-items: center;
  flex-direction: row;
}

body .portada, body .cifras-container .cifras-item, body .whatsapp-seccion {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*MOBILE QUERY*/
@media only screen and (min-width: 601px) {
  .none-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 100px) and (max-width: 600px) {
  * {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important;
  }

  .none-mobile {
    display: none !important;
  }
}

/*# sourceMappingURL=style.css.map */
